<% content_for :leftbar do %>
  <h3>"Employees"</h3>
  <ul>
  <% @employees.order(name: :asc).each do |employee| %>
    <li>
      <%= link_to employee.name, employee, class: "listLink" %>
    </li>
  <% end %>
  </ul>
<% end %>

<% @employees.each do |employee| %>
    <div class="card">
    
    </div>
<% end %>