<% content_for :leftbar do %>
	
<% end %>

<h1>Welcome to Frost Dwarf Games!</h1>
<p>This is a website that I maintain and upload content to. It acts secondarily as a portfolio, but I'll be using it mostly as a platform to share the things my friends and I make.</p>
<p>Stay a while and enjoy things. There's plenty of stuff to find; or learn even more about this place on the About page.</p>

<p>More stuff might go on this page later.</p>