<% md = Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions = {}) %>

<% content_for :leftbar do 
    render partial: "list_with_self", locals: {name: "Projects", list: @projects, this: @project}
  end %>

<% content_for :rightbar do
    render partial: "credit_taglist", locals: {name: 'Contributors', credits_of: @project, pluralize: true, link_lambda: ->(credit){credit.contributor}}
  end %>

<h1><%= @project.name %></h1>
<%= sanitize md.render(@project.description) %>

<%=
project_type_string = case @project.project_files
  when Downloadable then "downloadable"
  when Webscript then "webscript"
  else "error"
end

render project_type_string, locals: {project: @project}
%>