<h1>About Frost Dwarf Games</h1>
<h6><em>Yes, this is longer than the home page</em></h6>

<p>As much as Frost Dwarf Games is a passion-project-like thing, it doesn't mean I can't have ideals.</p>

<h2>Fun should be Free</h2>
<p>I make games for fun, so I get personal reward simply by making them. In a transactional system, I gain something for my time whether I sell my game or not. You play games for fun, so by getting a game, you earn something for your time. Why should I make you pay more for something I've already gained reward for making? It lessens your overall enjoyment and only provides me material gain, not happyness. I can't justify paying $60 for something that I may get bored of in 3 hours. Sometimes, I find $10 too much. If I sold my games, it would make me less likely to buy my own games. Basically, by making my games free, I do nothing but turn time into joy, which I say is a very good trade.</p>

<h2>Freemium isn't Fun</h2>
<p>Everyone is aware of the freemium monetization model. The product is free, but your life becomes easier when you fork over cash. For game companies that want to turn a profit, they market the game to the premium players, a.k.a. the "Whales", and turn the free players into content. That is something I don't personally like, so every single game on this website will not only be entirely free to play, but any microtransactions within the games will have no mechanical benefit. They will be for cosmetic upgrades only.</p>

<h2>The Cosmetic Conundrum</h2>
<p>There is a powerful effect that cosmetic upgrades cause, and that is jealousy. "Keeping up with the Jones'," while coming from the 1950s, is a human constant. Simply by seeing other players with "scarce" cosmetics, whether they are actually rare or just overhyped, draws people into buying those cosmetics. While it makes money for the company, it also deals mental and emotional damage to the consumers. So, there will always be the option to disable cosmetics and enjoy the game. Cosmetics still exist for people who want to express themselves or present social status, but there still will always be the option to disable them on your end.</p>

<h2>Ads are Annoying</h2>
<p>Most people hate ads. I don't like seeing them much and I especially dislike them interrupting my content. So, this site will remain ad-free until the end of time. It keeps them out of your sight. I'd rather not see ads, so I'm not going to force you too.</p>

<h2>How does FDG make money?</h2>
<p>I don't charge for my games, microtransactions are few and far between, there's not an ad in sight? How do I make any money? That's a trick question: I don't. This will probably cause me to lose money over time, but I don't care. As I said near the top, this is a passion project as much as anything. I don't need to be profitable; I'm just having fun.</p>

<br/><br/><br/><br/><br/>

<p>If you really, <em>really</em> want to pay me, a patreon link might go here eventually.</p>