<h1>About</h1>

<% content_for :leftbar do %>
  <h3>Contributors</h3>
  <ul>
  <% @contributors.order(name: :asc).each do |contributor| %>
    <li>
      <%= link_to contributor.name, contributor, class: "listLink" %>
    </li>
  <% end %>
  </ul>
<% end %>

<p>This is the about page for Frost Dwarf Games.</p>
<p>Below is a list of people who work on this</p>

<div>
  <% @contributors.order(name: :asc).each do |contributor| %>
    <%= link_to contributor.name, contributor, class: "tag" %>
  <% end %>
</div>
