@media only screen and (min-aspect-ratio: 4/3) and (min-width: 1000px) and (min-height: 750px) {

.aboutImage {
  width: 12.5vw;
  height: auto;
  float: right;
  margin: 0.3vw;
}

a.aboutPerson {
  color: #fff;
  text-decoration: none;
}

em.aboutPerson {
  color: #fff;
  font-style: normal;
  font-weight: 900;
}

}
