/*
 *= require_tree .
 *= require_self
 */

/* General View */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
	--header-bg-color: #206;

	--nav-item-bg-color: #308;
	--nav-item-text-color: #fff;

	--leftbar-bg-color: #333;
	--leftbar-text-color: #fff;

	--content-bg-color: #fff;
	--content-text-color: #000;

	--rightbar-bg-color: #dff;
	--rightbar-text-color: #000;

	--footer-bg-color: #eff;
	--footer-text-color: #000;

	--card-shadow-color: #ddd;
	--card-shadow-hover-color: #adf;

	--tag-bg-color: #99f;
	--tag-text-color: #fff;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}

.tag {
	background: var(--tag-bg-color);
	border-radius: 0.5em;
	color: var(--tag-text-color);
	display: inline-block;
	font-weight: bold;
	padding: 0.2em;
	text-decoration: none;
}

.header {
	background: var(--header-bg-color);
	margin: 0;
	width: 100vw;
}

.nav-item {
	background: var(--nav-item-bg-color);
	border-radius: 0.5vh;
	color: var(--nav-item-text-color);
	font-size: 2vh;
	font-weight: bold;
	text-decoration: none;
}

.leftbar {
	background: var(--leftbar-bg-color);
	color: var(--leftbar-text-color);
}

.content {
	background: var(--content-bg-color);
	color: var(--content-text-color);
}

.rightbar {
	background: var(--rightbar-bg-color);
	color: var(--rightbar-text-color);
}

.footer {
	background: var(--footer-bg-color);
	color: var(--footer-text-color);
}


/* Portrait Phone View */

@media only screen and (max-aspect-ratio: 3/4) {

	.header {
		height: 10vh;
		overflow-y: hide;
		padding: 0 5%;
	}

	.header:hover {
		height: 90vh;
	}

	.nav-item {
		height: 3vh;
		width: 90vw;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
	}

}

/* Desktop View */

@media only screen and (min-aspect-ratio: 4/3) and (min-width: 1000px) and (min-height: 750px) {

	/* Layout */

	.header {
		box-sizing: border-box;
		height: 10vh;
	}

	.nav-item {
		box-sizing: border-box;
		display: block;
		float: right;
		height: 5vh;
		margin: 2.5vh 1vw;
		padding: 1.5vh;
	}

	.nav-item:hover {
		text-decoration: underline;
	}

	.leftbar {
		box-sizing: border-box;
		float: left;
		height: 90vh;
		margin: 0;
		padding: 0 0.5%;
		width: 10vw;
	}

	.rightbar {
		box-sizing: border-box;
		float: right;
		height: 90vh;
		margin: 0;
		padding: 0 0.5%;
		width: 10vw;
	}

	.main {
		box-sizing: border-box;
		height: 90vh;
		width: 100vw;
	}

	.center {
		box-sizing: border-box;
		height: 90vh;
		float: left;
		margin: 0;
		padding: 0;
		width: 80vw;
	}

	.content {
		box-sizing: border-box;
		height: 80vh;
		margin: 0;
		overflow: auto;
		padding: 0 0.5%;
		width: 80vw;
	}

	.footer {
		box-sizing: border-box;
		height: 10vh;
		margin: 0;
		padding: 0 0.5%;
		width: 80vw;
	}

	.footer>p {
		margin: 0;
		padding: 0.5%;
	}

	/* Employees */

	.aboutImage {
		width: 12.5vw;
		height: auto;
		float: right;
		margin: 0.3vw;
	}

	/* Resources */

	.listLink {
		color: inherit;
		text-decoration: none;
	}

	.listThis {
		color: inherit;
		font-style: normal;
		font-weight: 900;
	}

	/* Cards */
	.card {
		aspect-ratio: 3 / 4;
		border: 1px solid #000;
		border-radius: 1em;
		box-shadow: 0.5em 0.5em 1em var(--card-shadow-color);
		color: inherit;
		display: block;
		margin: 6px;
		transition: box-shadow 0.05s;
		text-decoration: none;
		width: 300px;
	}

	.card:hover {
		box-shadow: 0.5em 0.5em 3em var(--card-shadow-hover-color);
	}

	.cardimage {
		aspect-ratio: 1 / 1;
		width: 100%;
		border-radius: 0.9em;
	}

}