<% md = Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions = {}) %>

<% content_for :leftbar do
    render partial: "list_with_self", locals: {name: "Contributors", list: @contributors, this: @contributor}
  end %>

<% content_for :rightbar do
    render partial: "credit_taglist", locals: {name: 'Projects', credits_of: @contributor, pluralize: false, link_lambda: ->(credit){credit.project}}
  end %>

<% if @contributor.image? %>
  <%= image_tag @contributor.image, class: "aboutImage" %>
<% end %>

<h1><%= @contributor.name %></h1>
<%= sanitize md.render(@contributor.about) %>
