<% md = Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions = {}) %>

<% content_for :rightbar do %>
  <h2>Projects</h2>
<% end %>

<% if @employee.imgUrl? %>
  <%= image_tag ("employees/" + @employee.imgUrl), class: "aboutImage" %>
<% end %>

<h1><%= @employee.name %></h1>
<%= sanitize md.render(@employee.about) %>
