<h1>About</h1>

<p>This is the about page for Frost Dwarf Games.</p>
<p>Below is a list of people who work on this</p>

<div>
  <% @employees.order(name: :asc).each do |employee| %>
    <a href="about/<%= employee.id %>" class="tag"><%= employee.name %></a>
  <% end %>
</div>
